# Chapter 1. 
# 알고리즘 기초
# Unit 1. 알고리즘과 플로우 차트

## 문자열과 숫자 입력받기

In [ ]:
name = input('이름을 입력하세요.: ')
print(f'안녕하세요? {name}님.')
print(type(name))

이름을 입력하세요.: 주주
안녕하세요? 주주님.
<class 'str'>

In [ ]:
length = input('정사각형의 한 변의 길이를 입력하세요.: ')
print(f'정사각형의 넓이는 {int(length)**2}입니다.')

정사각형의 한 변의 길이를 입력하세요.: 5
정사각형의 넓이는 25입니다.

## 세 정수를 입력받아 최댓값 구하기

In [ ]:
print('세 정수의 최댓값을 구합니다.')
a = int(input('정수 a의 값을 입력하세요.: '))
b = int(input('정수 b의 값을 입력하세요.: '))
c = int(input('정수 c의 값을 입력하세요.: '))

maximum = a
if b > maximum:
    maximum = b
if c > maximum:
    maximum = c
    
print(f'최대값은 {maximum}입니다.')

세 정수의 최댓값을 구합니다.
정수 a의 값을 입력하세요.: 3
정수 b의 값을 입력하세요.: 5
정수 c의 값을 입력하세요.: 9
최대값은 9입니다.

## 세 정수의 최댓값 구하기 알고리즘 확인

In [ ]:
def max3(a, b, c):
    maximum = a
    if b > maximum:
        maximum = b
    if c > maximum:
        maximum = c
        
    return maximum # 최댓값 반환

print(f'max3(3, 2, 1) = {max3(3, 2, 1)}')
print(f'max3(3, 2, 2) = {max3(3, 2, 2)}')
print(f'max3(3, 1, 2) = {max3(3, 1, 2)}')
print(f'max3(3, 2, 3) = {max3(3, 2, 3)}')
print(f'max3(2, 1, 3) = {max3(2, 1, 3)}')
print(f'max3(3, 3, 2) = {max3(3, 3, 2)}')
print(f'max3(3, 3, 3) = {max3(3, 3, 3)}')
print(f'max3(2, 2, 3) = {max3(2, 2, 3)}')
print(f'max3(2, 3, 1) = {max3(2, 3, 1)}')
print(f'max3(2, 3, 2) = {max3(2, 3, 2)}')
print(f'max3(1, 3, 2) = {max3(1, 3, 2)}')
print(f'max3(2, 3, 3) = {max3(2, 3, 3)}')
print(f'max3(1, 2, 3) = {max3(1, 2, 3)}')

max3(3, 2, 1) = 3
max3(3, 2, 2) = 3
max3(3, 1, 2) = 3
max3(3, 2, 3) = 3
max3(2, 1, 3) = 3
max3(3, 3, 2) = 3
max3(3, 3, 3) = 3
max3(2, 2, 3) = 3
max3(2, 3, 1) = 3
max3(2, 3, 2) = 3
max3(1, 3, 2) = 3
max3(2, 3, 3) = 3
max3(1, 2, 3) = 3

## 미니 실습 1)
## 네 정수의 최댓값 구하기

In [ ]:
def max4(a,b,c,d):
  max = a
  if b>max:
    max = b
  if c>max:
    max = c
  if d>max:
    max = d

  return max

print(f'max4(3,2,1,4) = {max4(3,2,1,4)}')

max4(3,2,1,4) = 4

## 조건문과 분기

### 입력받은 정수의 부호(양수, 음수, 0) 출력하기

In [ ]:
n = int(input('정수를 입력하세요.: '))

if n > 0:
    print('이 수는 양수입니다.')
elif n < 0:
    print('이 수는 음수입니다.')
else:
    print('이 수는 0입니다.')

정수를 입력하세요.: 0
이 수는 0입니다.

## 세 정수의 중앙값 구하기

In [ ]:
def med3(a, b, c):
    
    if a >= b:
        if b >= c:
            return b
        elif a <= c:
            return a
        else:
            return c
    elif a > c:
        return a
    elif b > c:
        return c
    else:
        return b
    
print('세 정수의 중앙값을 구합니다.')
a = int(input('정수 a의 값을 입력하세요.: '))
b = int(input('정수 b의 값을 입력하세요.: '))
c = int(input('정수 c의 값을 입력하세요.: '))

print(f'중앙값은 {med3(a, b, c)}입니다.')

세 정수의 중앙값을 구합니다.
정수 a의 값을 입력하세요.: 1
정수 b의 값을 입력하세요.: 3
정수 c의 값을 입력하세요.: 2
중앙값은 2입니다.

## 미니 실습 2)

## 수도 요금 계산

In [ ]:
def waterpay(c:str, u:int):
  usage = 0
  if c == 'A':
    usage = 100*u
    return usage
  elif c == 'B':
    if u <= 50:
      usage = 150*u
      return usage
    else:
      usage = 50*150+ (u-50)*75
      return usage

waterpay('B', 55)

7875

# Unit 2. 반복하는 알고리즘

### 1부터 n까지 정수의 합 구하기 (while)

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')

n = int(input('n값을 입력하세요.: '))

sum = 0
i = 1

while i <= n: 
    sum += i
    i += 1

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: 5
1부터 5까지 정수의 합은 15입니다.

### 1부터 n까지 정수의 합 구하기 (for)

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')

n = int(input('n값을 입력하세요.: '))

sum = 0

for i in range(1, n+1):
    sum += i

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: 5
1부터 5까지 정수의 합은 15입니다.

### a부터 b까지 정수의 합 구하기 (for)

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')

a = int(input('정수 a를 입력하세요.: '))
b = int(input('정수 b를 입력하세요.: '))

if a > b:
    a, b = b, a
    
sum = 0

for i in range(a, b+1):
    sum += i

print(f'{a}부터 {b}까지 정수의 합은 {sum}입니다.')

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.: 8
정수 b를 입력하세요.: 3
3부터 8까지 정수의 합은 33입니다.

### 반복과정에서 조건 판단하기 1

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')

a = int(input('정수 a를 입력하세요.: '))
b = int(input('정수 b를 입력하세요.: '))

if a > b:
    a, b = b, a
    
sum = 0

for i in range(a, b+1):
    if i < b:
        print(f'{i} + ', end='')
    else:
        print(f'{i} = ', end='')
    sum +=i

print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.: 3
정수 b를 입력하세요.: 4
3 + 4 = 7

### 미니 실습 3)
### 반복 과정에서 조건 판단하기 (업그레이드)

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')

a = int(input('정수 a를 입력하세요.: '))
b = int(input('정수 b를 입력하세요.: '))

if a > b:
    a, b = b, a
    
sum = 0

for i in range(a, b):
    print(f'{i} + ', end='') 
    sum +=i
print(f'{b} = ', end='')
print(sum+b)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.: 3
정수 b를 입력하세요.: 7
3 + 4 + 5 + 6 + 7 = 25

### 반복과정에서 조건 판단하기 2

In [ ]:
# * 를 n 개 출력하되 w개마다 줄바꿈하기 1 

print('*를 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))
w = int(input('몇 개마다 줄바꿈할까요?: '))

for i in range(n):
    print('*', end='')
    if i % w == w-1:
        print()

if n%w:
    print()

*를 출력합니다.
몇 개를 출력할까요?: 14
몇 개마다 줄바꿈할까요?: 5
*****
*****
****

In [ ]:
# * 를 n 개 출력하되 w개마다 줄바꿈하기 2 

print('*를 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))
w = int(input('몇 개마다 줄바꿈할까요?: '))

for _ in range(n // w): # n//w번 반복
    print('*' * w)      # *를 w번 출력
   
rest = n % w 
if rest:                # rest 값이 있으면
    print('*' * rest)   # rest 값만큼 * 반복 출력

*를 출력합니다.
몇 개를 출력할까요?: 14
몇 개마다 줄바꿈할까요?: 5
*****
*****
****

### 무한 루프와 break

In [ ]:
# 1부터 n까지 정수의 합 구하기 (n값은 양수만 입력받음)

print('1부터 n까지 정수의 합을 구합니다.')

while True:
    n = int(input('n값을 입력하세요.: '))
    if n > 0:
        break # n이 0보다 커질때 까지 반복
        
sum = 0
i = 1

for i in range(1, n+1):
    sum += i
    i += 1
    
print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: -6
n값을 입력하세요.: 0
n값을 입력하세요.: 10
1부터 10까지 정수의 합은 55입니다.

### continue 와 break

In [ ]:
# 가로, 세로 길이가 정수이고 넓이가 area인 직사각형에서 가능한 변의 길이 나열

area = int(input('직사각형의 넓이를 입력하세요.: '))

for i in range(1, area + 1):
    if i * i > area: break       
    if area % i: continue
    print(f'{i} x {area // i}')

정사각형의 넓이를 입력하세요.: 32
1 x 32
2 x 16
4 x 8

### 미니 실습 4

In [ ]:
area = int(input('직사각형의 넓이를 입력하세요.: '))

for i in range(1, area + 1):
    # if i * i > area: break     
    if area % i:continue
    print(f'{i} x {area // i}')

직사각형의 넓이를 입력하세요.: 32
1 x 32
2 x 16
4 x 8
8 x 4
16 x 2
32 x 1

### 구구단 출력

In [ ]:
print('-' * 27)
for i in range(1, 10):
    for j in range(1, 10):
        print(f'{i * j:3}', end='')
    print()

print('-' * 27)

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------

# 실습 1

In [ ]:
def elctricPay():
  kwh = int(input("전기 사용량 입력: "))
  total = 0
  if kwh < 100:
    total = kwh*60.7 + 410
    return total
  elif kwh <= 200:
    total = 100*60.7 + (kwh-100)*125.9 + 910
    return total
  else:
    total = 100*60.7 + 100*125.9 + (kwh-200)*187.9 + 1600
    return total
  print(f'총 요금은 {int(total*1.137)}원 입니다.')

elctricPay()

전기 사용량 입력: 250

29655.0

# 실습 2

In [ ]:
print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))

for i in range(1, n+1):
  if i%2:
    print('+', end='')
  else:
    print('-', end='')
print()

# for _ in range(n//2):
#   print('+-', end='')
# if n%2:
#   print('-', end='')
# print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?: 11
+-+-+-+-+-+

# 실습 3

In [ ]:
a = [i for i in range(1,13) if i <= 7 or i >8]
a

[1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12]

# 실습 4

In [ ]:
n = int(input("숫자 입력 "))
flag = 0

for root in range(1, n+1):
  for pwr in range(2,6):
    if root**pwr == n:
      print(f'{root}**{pwr} = {n}입니다.')
      flag = 1

if flag == 0:
  print("?")

숫자 입력 256
4**4 = 256입니다.
16**2 = 256입니다.