### ì§ë°© ì„œë¹„ìŠ¤ ì›ë£¸ ë°ì´í„° ìˆ˜ì§‘
- ë³µì¡í•œ ë°ì´í„° ìˆ˜ì§‘ ë°©ë²•
- ë™ ì´ë¦„ ì…ë ¥ > ë§¤ë¬¼ ì •ë³´(ë°ì´í„°í”„ë ˆì„)

- ì ˆì°¨
    - ë™ ì´ë¦„ > ìœ„ë„, ê²½ë„
    - ìœ„ë„, ê²½ë„ > geohash code(ì§€ì—­ ë²”ìœ„)
    - geohash > ë§¤ë¬¼ ì•„ì´ë””
    - ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [1]:
import pandas as pd
import requests

In [54]:
# 1. ë™ ì´ë¦„ > ìœ„ë„, ê²½ë„
query = "ë§ˆí¬êµ¬ í•©ì •ë™"
url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={query}&serviceType=ì›ë£¸"
response = requests.get(url)
data = response.json()['items'][0]
lat, lng = data["lat"], data["lng"]
lat, lng

(37.549537658691406, 126.90560913085938)

In [16]:
# 2. ìœ„ë„, ê²½ë„ > geohash
# !pip install geohash2
import geohash2

# precision: ì˜ì—­ - ê°’ì´ ì»¤ì§ˆìˆ˜ë¡ ì˜ì—­ì´ ì‘ì•„ì§
code = geohash2.encode(lat, lng, precision=5)
code

'wydjx'

In [18]:
# 3. geohash > ë§¤ë¬¼ ì•„ì´ë””
url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang&geohash={code}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
response = requests.get(url)
response

In [20]:
data = response.json()["items"]
data[:3]

[{'lat': 37.52960683380756, 'lng': 126.89761319483509, 'item_id': 30462357},
 {'lat': 37.52958649415252, 'lng': 126.89698378323035, 'item_id': 30524930},
 {'lat': 37.52911073238503, 'lng': 126.89760543789517, 'item_id': 30629925}]

In [23]:
# list comprehension - ê°„ë‹¨í•œ ë¦¬ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ë§Œë“¤ ë•Œ ì‚¬ìš©
ids = [data["item_id"] for data in data]
ids[:3]

[30462357, 30524930, 30629925]

In [27]:
# í™€ìˆ˜ ë°ì´í„°ë§Œ ì œê³±í•´ì„œ ë¦¬ìŠ¤íŠ¸ ë§Œë“¤ì–´ ì¶œë ¥
result = [data**2 for data in range(10) if data % 2]
result

[1, 9, 25, 49, 81]

In [28]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [31]:
# 4. ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´
url = "https://apis.zigbang.com/v2/items/list"
params = {"domain": "zigbang",
          "withCoalition": "true",
          "item_ids": ids}
response = requests.post(url, params)
response

In [55]:
items = response.json()["items"]
item_df = pd.DataFrame(items)
item_df.tail(2)

,id,type,name,hint,description,lat,lng,zoom,polygon,_score,_source,zoom_level,zoom_level_v2
0,4021,address,í•©ì •ë™,,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,37.549538,126.905609,5,[],None,"{'name_length': 3, 'local1': 'ì„œìš¸ì‹œ', 'local2': ...","{'google': 15, 'daum': 4}","{'app': 5, 'web': 4}"

In [36]:
item_df

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,...,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
0,None,30462357,https://ic.zigbang.com/ic/items/30462357/1.jpg,ì „ì„¸,ì „ì„¸,8000,0,19.83,"{'m2': 19.83, 'p': '6'}","{'m2': 19.83, 'p': '6'}",...,False,True,ì›ë£¸,[],ì„œìš¸ì‹œ ì˜ë“±í¬êµ¬ ë‹¹ì‚°ë™4ê°€,None,None,13,2022-02-18T17:43:12+09:00,False
1,None,30524930,https://ic.zigbang.com/ic/items/30524930/1.jpg,ì „ì„¸,ì „ì„¸,7000,0,16.53,"{'m2': 16.53, 'p': '5'}","{'m2': 16.53, 'p': '5'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ì˜ë“±í¬êµ¬ ë‹¹ì‚°ë™4ê°€,None,None,13,2022-02-07T16:03:16+09:00,False
2,None,30629925,https://ic.zigbang.com/ic/items/30629925/1.jpg,ì „ì„¸,ì „ì„¸,7000,0,19.83,"{'m2': 19.83, 'p': '6'}","{'m2': 19.83, 'p': '6'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ì˜ë“±í¬êµ¬ ë‹¹ì‚°ë™4ê°€,None,None,12,2022-02-19T16:52:02+09:00,True
3,None,30681505,https://ic.zigbang.com/ic/items/30681505/1.jpg,ì „ì„¸,ì „ì„¸,7000,0,19.83,"{'m2': 19.83, 'p': '6'}","{'m2': 19.83, 'p': '6'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ì˜ë“±í¬êµ¬ ë‹¹ì‚°ë™4ê°€,None,None,13,2022-02-17T15:58:52+09:00,False
4,None,30494154,https://ic.zigbang.com/ic/items/30494154/1.jpg,ì „ì„¸,ì „ì„¸,6000,0,19.83,"{'m2': 19.83, 'p': '6'}","{'m2': 19.83, 'p': '6'}",...,False,True,ì›ë£¸,[],ì„œìš¸ì‹œ ì˜ë“±í¬êµ¬ ì–‘í‰ë™3ê°€,None,None,12,2022-02-05T11:14:17+09:00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,None,30653716,https://ic.zigbang.com/ic/items/30653716/1.jpg,ì›”ì„¸,ì›”ì„¸,4000,27,15.00,"{'m2': 15, 'p': '4.5'}","{'m2': 15, 'p': '4.5'}",...,False,True,ì›ë£¸,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì„±ì‚°ë™,None,None,8,2022-02-19T12:13:37+09:00,False
912,None,30673351,https://ic.zigbang.com/ic/items/30673351/1.jpg,ì›”ì„¸,ì›”ì„¸,9000,20,19.83,"{'m2': 19.83, 'p': '6'}","{'m2': 19.83, 'p': '6'}",...,False,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì„±ì‚°ë™,None,None,8,2022-02-17T10:27:46+09:00,False
913,None,30629059,https://ic.zigbang.com/ic/items/30629059/1.jpg,ì „ì„¸,ì „ì„¸,26000,0,65.00,"{'m2': 65, 'p': '19.7'}","{'m2': 60, 'p': '18.2'}",...,False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì„±ì‚°ë™,None,None,0,2022-02-14T14:50:13+09:00,False
914,None,30455640,https://ic.zigbang.com/ic/items/30455640/1.jpg,ì „ì„¸,ì „ì„¸,28000,0,33.58,"{'m2': 33.58, 'p': '10.2'}","{'m2': 23.98, 'p': '7.3'}",...,False,True,ë¹Œë¼,[ì¶”ì²œ],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™,None,None,3,2022-02-03T12:00:40+09:00,False
915,None,30687168,https://ic.zigbang.com/ic/items/30687168/1.jpg,ì›”ì„¸,ì›”ì„¸,5000,60,41.36,"{'m2': 41.36, 'p': '12.5'}","{'m2': 36.36, 'p': '11'}",...,False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™,None,None,8,2022-02-18T14:00:36+09:00,False

In [40]:
pd.options.display.max_columns # = 30
# pd.options.display.max_rows = 60 ì´ìƒ

20

In [41]:
item_df.columns

Index(['section_type', 'item_id', 'images_thumbnail', 'sales_type',
       'sales_title', 'deposit', 'rent', 'size_m2', 'ê³µê¸‰ë©´ì ', 'ì „ìš©ë©´ì ', 'ê³„ì•½ë©´ì ',
       'room_type_title', 'floor', 'floor_string', 'building_floor', 'title',
       'is_first_movein', 'room_type', 'address', 'random_location', 'is_zzim',
       'status', 'service_type', 'tags', 'address1', 'address2', 'address3',
       'manage_cost', 'reg_date', 'is_new'],
      dtype='object')

In [43]:
columns = [
    "item_id", "sales_title", "deposit", "rent", "size_m2",
    "floor", "building_floor", "title", "room_type", "address",
    "service_type", "address1", "manage_cost", "reg_date", "is_new"]

In [48]:
query

'ë§ˆí¬êµ¬ í•©ì •ë™'

In [47]:
result_df = item_df[columns]
result_df = result_df[result_df["address"].str.contains(query)]
result_df = result_df.reset_index(drop=True)
result_df.head()

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,room_type,address,service_type,address1,manage_cost,reg_date,is_new
0,30633740,ì „ì„¸,22500,0,36.00,ë°˜ì§€í•˜,3,ì˜¬ìˆ˜ë¦¬ì¤‘ í’€ì˜µì…˜ íˆ¬ë£¸,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,0,2022-02-14T17:17:39+09:00,False
1,30628139,ì „ì„¸,22000,0,82.23,1,3,ğŸ’•ì‹ ì¶•ë¦¬ëª¨ë¸ë§ğŸ’•ê·€í•œë„“ì€íˆ¬ë£¸ğŸ’•í•©ì •ì´ˆì—­ì„¸ê¶ŒğŸ’•ë³´ë©´ë°˜í•´ğŸ’•,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,2,2022-02-14T14:25:32+09:00,False
2,30633429,ì „ì„¸,22000,0,39.67,1,3,ğŸ’¥í•©ì •ëŒ€ì¶œê°€ëŠ¥ğŸ’–ê¸ˆë°©ë‚˜ê°ˆì§‘ğŸ’–ì£¼ì°¨ê°€ëŠ¥ğŸŒˆì±„ê´‘ë§›ì§‘ğŸ‘,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,2,2022-02-14T17:07:22+09:00,False
3,30647837,ì „ì„¸,22000,0,39.67,1,3,ëŒ€ì¶œOKğŸ‰í•©ì •ì—­ ë„˜ ì˜ˆìœ íˆ¬ë£¸ ì „ì„¸ğŸ‰,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,2,2022-02-19T12:53:08+09:00,False
4,30650042,ì „ì„¸,22000,0,46.28,1,3,ğŸ¶ [í•©ì •ì—­ 10ë¶„] ğŸ¶[ëŒ€ì¶œ ê°€ëŠ¥],04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,2,2022-02-15T16:19:47+09:00,False

In [50]:
# ë³´ì¦ê¸ˆ 1ì–µ ì´í•˜, ì›”ì„¸ 100ë§Œì› ì´í•˜
result_df[(result_df["deposit"] <= 10000) & (result_df["rent"] < 100)]

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,room_type,address,service_type,address1,manage_cost,reg_date,is_new
45,30546561,ì›”ì„¸,1000,85,33.06,2,3,ğŸ‰ì¡°ìš©í•œ ì£¼íƒê°€ íˆ¬ë£¸ğŸ‰,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,5,2022-02-09T15:26:34+09:00,False
46,30603311,ì›”ì„¸,1000,79,39.67,2,3,ğŸ’¥í•œê°•ì•! í•©ì • íˆ¬ë£¸ğŸ’¥ê°“ì„±ë¹„ ì•ˆë°©ë„“ì€ ê¹”ë”í•œ ì§‘ğŸ’¥,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,11.2,2022-02-14T14:16:50+09:00,False
47,30662028,ì›”ì„¸,1000,85,36.36,2,3,ğŸŒˆğŸŒˆì±„ê´‘ì¢‹ì€ í™”ì´íŠ¸í†¤ íˆ¬ë£¸!,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,5,2022-02-19T18:58:44+09:00,True
48,30698799,ì›”ì„¸,1000,85,35.20,2,3,ğŸ¶ [í•œê°•ì‚°ì±… 8ë¶„ê±°ë¦¬] ğŸ¶[ê·€í•œ íˆ¬ë£¸],04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,5,2022-02-21T14:48:48+09:00,True
50,30682604,ì›”ì„¸,300,45,16.53,3,5,ğŸ‰í•©ì • í’€ì˜µì…˜ ì›ë£¸ğŸ‰ğŸ‰,01,ë§ˆí¬êµ¬ í•©ì •ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,3,2022-02-21T14:34:55+09:00,True
51,30501645,ì›”ì„¸,300,45,19.83,3,3,â­•í•©ì •ë™ ì±„ê´‘ì¢‹ì€ì›ë£¸ YGì‚¬ì˜¥ì¸ê·¼â­•,01,ë§ˆí¬êµ¬ í•©ì •ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,5,2022-02-21T14:29:57+09:00,True
68,30662860,ì›”ì„¸,5000,70,59.50,2,3,í°ë°©2ê°œ ë³„ë„ê±°ì‹¤ ê¹¨ë—í•¨,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,0,2022-02-16T13:53:22+09:00,False
71,30687260,ì›”ì„¸,3000,90,32.63,3,5,ğŸŒ¸ë°˜ë ¤ë™ë¬¼ê°€ëŠ¥ğŸŒ¸ê°€ì„±ë¹„íˆ¬ë£¸ğŸŒ¸í˜„ì¬ì§ë‹¤ëºŒğŸŒ¸,04,ë§ˆí¬êµ¬ í•©ì •ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,5,2022-02-17T23:42:38+09:00,False
72,30552358,ì›”ì„¸,1000,45,16.53,2,5,ğŸŒ¸ê·¹ ê°€ì„±ë¹„ğŸŒ¸ì¦‰ì‹œì…ì£¼ë„ê°€ëŠ¥ğŸŒ¸ì´ê°€ê²©ì— ì´ë°©ğŸŒ¸,01,ë§ˆí¬êµ¬ í•©ì •ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™,5,2022-02-09T11:07:47+09:00,False

In [63]:
def oneroom(address):
    url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=ì›ë£¸"
    response = requests.get(url)
    data = response.json()["items"][0]
    lat, lng = data["lat"], data["lng"]
    code = geohash2.encode(lat, lng, precision=5)
    
    url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={code}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
    response = requests.get(url)
    data = response.json()["items"]
    ids = [data["item_id"] for data in data]
    
    url = "https://apis.zigbang.com/v2/items/list"
    params = {
        "domain": "zigbang",
        "withCoalition": "true",
        "item_ids": ids[:998],
    }
    response = requests.post(url, params)
    items = response.json()["items"]
    item_df = pd.DataFrame(items)
    
    columns = [
        'item_id', 'sales_title', 'deposit', 'rent', 'size_m2',
        'floor', 'building_floor', 'title', 'room_type', 'address', 
        'service_type', 'address1', 'manage_cost', 'reg_date', 'is_new',
    ]
    
    result_df = item_df[columns]
    result_df = result_df[result_df["address"].str.contains(address)]
    return result_df.reset_index(drop=True)

In [65]:
oneroom("ë§ì›ë™").head()

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,room_type,address,service_type,address1,manage_cost,reg_date,is_new
0,30483493,ì „ì„¸,23000,0,18.99,6,6,"ğŸ¦‹í•©ì •ì—­,ì‹ ì¶•1.5ë£¸ê°€ì„±ë¹„ì§±,í•œê°•ê³µì›ë„ë³´,ë³´ì¦ë³´í—˜OK",02,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-04T15:40:23+09:00,False
1,30608827,ì „ì„¸,23000,0,42.98,6,6,ë°©1ê°œ ë³„ë„ê±°ì‹¤ ì£¼ë°© í™”ì¥ì‹¤ ë‹¤ìš©ë„ì‹¤ ë¶„ë¦¬í˜•ì›ë£¸ ì…ë‹ˆë‹¤,04,ë§ˆí¬êµ¬ ë§ì›ë™,ë¹Œë¼,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,7,2022-02-12T16:27:27+09:00,False
2,30578522,ì›”ì„¸,12000,10,12.21,3,5,ğŸ’¥LH ê°€ëŠ¥ ê¹¨ë—í•œ ë°©ğŸ’¥,01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-15T18:54:14+09:00,False
3,30726074,ì›”ì„¸,12000,10,13.22,3,5,ğŸ¶ [LH ê°€ëŠ¥!] ğŸ¶ [ê¹”ë”í•œ ë°©!],01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2022-02-21T11:45:06+09:00,True
4,30340227,ì›”ì„¸,1000,49,23.14,3,5,â­•ë§ì›ì—­ì„¸ê¶Œ 7í‰ì›ë£¸ ë‚´ë¶€ê¹”ë”â­•,01,ë§ˆí¬êµ¬ ë§ì›ë™,ì›ë£¸,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,3,2022-01-22T14:38:50+09:00,False