<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/ml_python.png' width=600/></center>

# 실습 내용

- Happy 데이터를 대상으로 모델링를 진행합니다.
- LinearRegression 알고리즘을 사용합니다.
- 다양한 평가지표로 모델 성능을 평가합니다.

# 1.환경 준비

- 기본 **라이브러리**와 대상 **데이터**를 가져와 이후 과정을 준비합니다.

<img src = "https://github.com/Jangrae/img/blob/master/code_11.png?raw=true" width=700 align="left"/>

In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'

In [2]:
# 데이터 읽어오기
# path = 'https://raw.githubusercontent.com/Jangrae/csv/master/income_happy.csv'
path = 'https://bit.ly/HappyFile'
data = pd.read_csv(path)

# 2.데이터 이해

- 분석할 데이터를 **충분히 이해**할 수 있도록 다양한 **탐색** 과정을 수행합니다.

<img src = "https://github.com/Jangrae/img/blob/master/code_12.png?raw=true" width=700 align="left"/>

In [3]:
# 상위 몇 개 행 확인
data.head()

     income  happiness
0  3.862647   2.314489
1  4.979381   3.433490
2  4.923957   4.599373
3  3.214372   2.791114
4  7.196409   5.596398

In [4]:
# 하위 몇 개 행 확인
data.tail()

       income  happiness
493  5.249209   4.568705
494  3.471799   2.535002
495  6.087610   4.397451
496  3.440847   2.070664
497  4.530545   3.710193

In [5]:
# 변수 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   income     498 non-null    float64
 1   happiness  498 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [10]:
# 데이터 크기 확인
data.size

996

In [7]:
# 기초통계량 확인
data.describe()

           income   happiness
count  498.000000  498.000000
mean     4.466902    3.392859
std      1.737527    1.432813
min      1.506275    0.266044
25%      3.006256    2.265864
50%      4.423710    3.472536
75%      5.991913    4.502621
max      7.481521    6.863388

In [8]:
# 상관관계 확인
data.corr()

             income  happiness
income     1.000000   0.865634
happiness  0.865634   1.000000

# 3.데이터 준비

- **전처리** 과정을 통해 머신러닝 알고리즘에 사용할 수 있는 형태의 데이터를 준비합니다.

<img src = "https://github.com/Jangrae/img/blob/master/code_13.png?raw=true" width=700 align="left"/>

**1) x, y 분리**

In [11]:
# target 확인
target = 'happiness'

# 데이터 분리
x = data.drop(target, axis=1)
y = data[target]

**2) 학습용, 평가용 데이터 분리**

In [13]:
# 모듈 불러오기
from sklearn.model_selection import train_test_split

# 7:3으로 분리
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2022)

# 4.모델링

- 본격적으로 모델을 **선언**하고 **학습**하고 **평가**하는 과정을 진행합니다.
- 우선 **회귀** 문제인지 **분류** 문제인지 명확히 구분합니다.

<img src = "https://github.com/Jangrae/img/blob/master/code_14.png?raw=true" width=700 align="left"/>

- 알고리즘: LinearRegression

In [14]:
# 1단계: 불러오기
from sklearn.linear_model import LinearRegression

In [15]:
# 2단계: 선언하기
model = LinearRegression()

In [16]:
# 3단계: 학습하기
model.fit(x_train, y_train)

LinearRegression()

In [17]:
# 4단계: 예측하기
y_pred = model.predict(x_test)

# 5.성능 평가

- 다양한 성능지표로 회귀 모델 성능을 평가합니다.

**1) MAE(Mean Absolute Error)**

In [18]:
# 모듈 불러오기
from sklearn.metrics import mean_absolute_error

# 성능 평가
print('MAE: ', mean_absolute_error(y_test, y_pred))

MAE:  0.5466885866485438

**2) MSE(Mean Squared Error)**

In [19]:
# 모듈 불러오기
from sklearn.metrics import mean_squared_error

# 성능 평가
print('MSE: ', mean_squared_error(y_test, y_pred))

MSE:  0.45061240324267904

**3) RMSE(Root Mean Squared Error)**

In [20]:
# 모듈 불러오기
from sklearn.metrics import mean_squared_error

# 성능 평가
print('RMSE: ', mean_squared_error(y_test, y_pred)**(1/2))

RMSE:  0.671276696484154

**4) MAPE(Mean Absolute Percentage Error)**

In [21]:
# 모듈 불러오기
from sklearn.metrics import mean_absolute_percentage_error

# 성능 평가
print('MAPE: ', mean_absolute_percentage_error(y_test, y_pred))

MAPE:  0.24986813057928714

**5) R-Squared**

In [22]:
# 모듈 불러오기
from sklearn.metrics import r2_score

# 성능 평가
print('R2: ', r2_score(y_test, y_pred))

R2:  0.7756709291514665

**6) 참고: score**

In [23]:
# score로 평가
model.score(x_test, y_test) # R2와 동일한 결과

0.7756709291514665