<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/ml_python.png' width=600/></center>

# 실습 내용

- Grid Search로 Decision Tree 알고리즘 모델을 튜닝합니다.

# 1.환경 준비

- 기본 라이브러리와 대상 데이터를 가져와 이후 과정을 준비합니다.

In [48]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%config InlineBackend.figure_format='retina'

In [49]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/jangrae/csv/master/titanic.csv'
data = pd.read_csv(path)

# 2.데이터 이해

- 분석할 데이터를 충분히 이해할 수 있도록 다양한 탐색 과정을 수행합니다.

In [50]:
# 상위 몇 개 행 확인
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
# 변수 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [52]:
# 기초통계량 확인
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [53]:
# NaN 값 확인
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# 3.데이터 준비

- 전처리 과정을 통해 머신러닝 알고리즘에 사용할 수 있는 형태의 데이터를 준비합니다.

**1) Title 변수 추가**

In [54]:
# 호칭 추출
data['Title'] = data['Name'].str.extract('([A-Za-z]+)\.', expand=False)

In [55]:
# 대표 호칭 이외는 Others로 변경
main_tit_list = ['Mr', 'Miss', 'Mrs']
data.loc[data['Title'].isin(main_tit_list)==False, ['Title']] = 'Others'

**2) 결측치 처리**

In [56]:
# Age 중앙값으로 채우기
data['Age'].fillna(data.groupby('Title')['Age'].transform('median'), inplace=True)

In [57]:
# Embarked 최빈값으로 채우기
data['Embarked'] = data['Embarked'].fillna('S')

**3) AgeGroup 변수 추가**

In [58]:
# 변수 추가
bins = [0, 16, 25, 35, 60, 100]
data['AgeGroup'] = pd.cut(data['Age'], 
                          bins=bins, 
                          labels=['0_16', '17_25', '26_35', '36_60', '61_100'])

**4) 불필요한 변수 제거**

In [59]:
# 불필요한 열 제거
drop_cols = ['PassengerId', 'Name', 'Age', 'Ticket', 'Cabin']
data.drop(drop_cols, axis=1, inplace=True)

**5) 가변수화**

In [60]:
# 가변수화
dummy_vars = ['Title', 'AgeGroup', 'Pclass', 'Sex', 'Embarked']
data = pd.get_dummies(data, columns=dummy_vars, drop_first=True)

**6) x, y 분리**

In [61]:
# target 확인
target = 'Survived'

# 데이터 분리
x = data.drop(target, axis = 1)
y = data[target]

**7) 학습용, 평가용 데이터 분리**

In [62]:
# 모듈 불러오기
from sklearn.model_selection import train_test_split

# 7:3으로 분리
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2022)

# 4.모델링

- GridSearchCV를 사용해 최선의 하이퍼파라미터를 갖는 모델을 만듭니다.
- 파라미터 선언
    - max_depth: range(3, 21)
- Random Search 선언
  - cv=5
  - scoring='accuracy'

In [63]:
# 1단계: 불러오기
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import *

In [64]:
# 2단계: 선언하기
model_dt = DecisionTreeClassifier(random_state=2022)

# 파라미터 선언
param = {'max_depth': range(3, 21)}

# Grid Search 모델 선언하기
model = GridSearchCV(model_dt,
                     param,
                     cv=5,
                     scoring='accuracy',
                     verbose=2)

In [65]:
# 3단계: 학습하기
model.fit(x_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV] END ........................................max_depth=3; total time=   0.0s
[CV] END ........................................max_depth=3; total time=   0.0s
[CV] END ........................................max_depth=3; total time=   0.0s
[CV] END ........................................max_depth=3; total time=   0.0s
[CV] END ........................................max_depth=3; total time=   0.0s
[CV] END ........................................max_depth=4; total time=   0.0s
[CV] END ........................................max_depth=4; total time=   0.0s
[CV] END ........................................max_depth=4; total time=   0.0s
[CV] END ........................................max_depth=4; total time=   0.0s
[CV] END ........................................max_depth=4; total time=   0.0s
[CV] END ........................................max_depth=5; total time=   0.0s
[CV] END ........................................max_depth=5; total time=   0.0s
[CV] END ........................................max_depth=5; total time=   0.0s
[CV] END ........................................max_depth=5; total time=   0.0s
[CV] END ........................................max_depth=5; total time=   0.0s
[CV] END ........................................max_depth=6; total time=   0.0s
[CV] END ........................................max_depth=6; total time=   0.0s
[CV] END ........................................max_depth=6; total time=   0.0s
[CV] END ........................................max_depth=6; total time=   0.0s
[CV] END ........................................max_depth=6; total time=   0.0s
[CV] END ........................................max_depth=7; total time=   0.0s
[CV] END ........................................max_depth=7; total time=   0.0s
[CV] END ........................................max_depth=7; total time=   0.0s
[CV] END ........................................max_depth=7; total time=   0.0s
[CV] END ........................................max_depth=7; total time=   0.0s
[CV] END ........................................max_depth=8; total time=   0.0s
[CV] END ........................................max_depth=8; total time=   0.0s
[CV] END ........................................max_depth=8; total time=   0.0s
[CV] END ........................................max_depth=8; total time=   0.0s
[CV] END ........................................max_depth=8; total time=   0.0s
[CV] END ........................................max_depth=9; total time=   0.0s
[CV] END ........................................max_depth=9; total time=   0.0s
[CV] END ........................................max_depth=9; total time=   0.0s
[CV] END ........................................max_depth=9; total time=   0.0s
[CV] END ........................................max_depth=9; total time=   0.0s
[CV] END .......................................max_depth=10; total time=   0.0s
[CV] END .......................................max_depth=10; total time=   0.0s
[CV] END .......................................max_depth=10; total time=   0.0s
[CV] END .......................................max_depth=10; total time=   0.0s
[CV] END .......................................max_depth=10; total time=   0.0s
[CV] END .......................................max_depth=11; total time=   0.0s
[CV] END .......................................max_depth=11; total time=   0.0s
[CV] END .......................................max_depth=11; total time=   0.0s
[CV] END .......................................max_depth=11; total time=   0.0s
[CV] END .......................................max_depth=11; total time=   0.0s
[CV] END .......................................max_depth=12; total time=   0.0s
[CV] END .......................................max_depth=12; total time=   0.0s
[CV] END .......................................max_depth=12; total time=   0.0s
[CV] END .......................................max_depth=12; total time=   0.0s
[CV] END .......................................max_depth=12; total time=   0.0s
[CV] END .......................................max_depth=13; total time=   0.0s
[CV] END .......................................max_depth=13; total time=   0.0s
[CV] END .......................................max_depth=13; total time=   0.0s
[CV] END .......................................max_depth=13; total time=   0.0s
[CV] END .......................................max_depth=13; total time=   0.0s
[CV] END .......................................max_depth=14; total time=   0.0s
[CV] END .......................................max_depth=14; total time=   0.0s
[CV] END .......................................max_depth=14; total time=   0.0s
[CV] END .......................................max_depth=14; total time=   0.0s
[CV] END .......................................max_depth=14; total time=   0.0s
[CV] END .......................................max_depth=15; total time=   0.0s
[CV] END .......................................max_depth=15; total time=   0.0s
[CV] END .......................................max_depth=15; total time=   0.0s
[CV] END .......................................max_depth=15; total time=   0.0s
[CV] END .......................................max_depth=15; total time=   0.0s
[CV] END .......................................max_depth=16; total time=   0.0s
[CV] END .......................................max_depth=16; total time=   0.0s
[CV] END .......................................max_depth=16; total time=   0.0s
[CV] END .......................................max_depth=16; total time=   0.0s
[CV] END .......................................max_depth=16; total time=   0.0s
[CV] END .......................................max_depth=17; total time=   0.0s
[CV] END .......................................max_depth=17; total time=   0.0s
[CV] END .......................................max_depth=17; total time=   0.0s
[CV] END .......................................max_depth=17; total time=   0.0s
[CV] END .......................................max_depth=17; total time=   0.0s
[CV] END .......................................max_depth=18; total time=   0.0s
[CV] END .......................................max_depth=18; total time=   0.0s
[CV] END .......................................max_depth=18; total time=   0.0s
[CV] END .......................................max_depth=18; total time=   0.0s
[CV] END .......................................max_depth=18; total time=   0.0s
[CV] END .......................................max_depth=19; total time=   0.0s
[CV] END .......................................max_depth=19; total time=   0.0s
[CV] END .......................................max_depth=19; total time=   0.0s
[CV] END .......................................max_depth=19; total time=   0.0s
[CV] END .......................................max_depth=19; total time=   0.0s
[CV] END .......................................max_depth=20; total time=   0.0s
[CV] END .......................................max_depth=20; total time=   0.0s
[CV] END .......................................max_depth=20; total time=   0.0s
[CV] END .......................................max_depth=20; total time=   0.0s
[CV] END .......................................max_depth=20; total time=   0.0s

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(random_state=2022),
             param_grid={'max_depth': range(3, 21)}, scoring='accuracy',
             verbose=2)

In [66]:
# 최적파라미터, 성능 확인
print(model.best_params_)
print(model.best_score_)

{'max_depth': 4}
0.8250451612903225

In [67]:
# 4단계: 예측하기
y_pred = model.predict(x_test)

In [68]:
# 5단계: 평가하기
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[149  19]
 [ 25  75]]
              precision    recall  f1-score   support

           0       0.86      0.89      0.87       168
           1       0.80      0.75      0.77       100

    accuracy                           0.84       268
   macro avg       0.83      0.82      0.82       268
weighted avg       0.83      0.84      0.83       268