In [2]:
import pandas as pd

titanic = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic.3.csv')

In [3]:
tmp = titanic.groupby(['Pclass','Survived'])[['Age','Fare']].agg(['mean'])
tmp

                       Age       Fare
                      mean       mean
Pclass Survived
1      0         41.550625  64.684007
       1         35.189265  95.608029
2      0         33.459691  19.412328
       1         25.955287  22.055700
3      0         27.629919  13.669364
       1         22.014118  13.694887